body {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.image-wrapper,
.form-wrapper {
    border: 1px solid red;
    /* flex: auto; */
}

.image-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.form-wrapper {
    flex: 0 700px;
    position: relative;
}

.image-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 1500px;
    height: auto;
}

.logo-wrapper {
    width: 100%;
    min-height: 100px;
    background: rgba(17, 11, 11, 0.537);
    position: absolute;
    top: 30%;
}

form {
    border: 1px solid red;
    min-height: 100px;
    position: absolute;
    top: 40%;
    width: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input-container-left,
.input-container-right {
    border: 1px solid blue;
    min-height: 150px;
    width: 50%;
}

select,
::picker(select) {
    appearance: base-select;
}

select::picker-icon {
    color: #999;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: white;

    border: 2px solid #ddd;
    background: #3e69b8;
    padding: 10px;
    transition: 0.4s;
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:nth-of-type(odd) {
    background: #3e69b8ee;
}

option:hover,
option:focus {
    background: rgb(216, 193, 91);
}

option:checked {
    font-weight: bold;
}

input[type="checkbox"] {
    appearance: none;

    width: 20px;
    height: 20px;
    /* border-radius: 10px; */
    border: 2px solid gray;
    vertical-align: -2px;
    outline: none;
}

input[type="checkbox"]::before {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background-color: rgb(216, 193, 91);
    font-size: 1.2em;
    transform: translate(3px, 3px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}

input[type="checkbox"]:checked::before {
    transform: translate(3px, 3px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}